version: 2

jobs:
  build:
    docker:
      - image: circleci/golang:1.13

    environment:
      TEST_RESULTS: /tmp/test-results

    steps:
      - checkout
      - run: mkdir -p $TEST_RESULTS
      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}

      - run: make deps
      - run: gotestsum --junitfile $TEST_RESULTS/unit-tests.xml

      - save_cache:
          key: go-mod-v1{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - store_test_results:
          path: /tmp/test-results
